body {
    margin: 0;
    text-align: center;
    font-family: 'Comic Neue', cursive;
    font-size: 125%;
    color: #40514E;
}

h1 {
    margin-top: 50 auto 0 auto;
    font-family: 'Comic Neue', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2 {
    font-family: 'Comic Neue', bold;
    font-size: 2.0rem;
    color: #66BFBF;
    font-weight: normal;
    line-height: 2;
    padding: 10px;
}

h3{
    font-family: 'Montserrat',cursive;
    color:#11999E
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #11cdd4 2px;
    text-decoration: none;
  }
  
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #11999e);
    background-image: -moz-linear-gradient(top, #30e3cb, #11999e);
    background-image: -ms-linear-gradient(top, #30e3cb, #11999e);
    background-image: -o-linear-gradient(top, #30e3cb, #11999e);
    background-image: linear-gradient(to bottom, #30e3cb, #11999e);
    text-decoration: none;
  }

p{
    line-height: 2;
}

.footer-link{
    color: #11999E;
}
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container{
    margin: 100px 0;
}

.bottom-container{
    background-color: #66BFBF;
    position: relative;
    color: white;
    padding: 50px 0 20px;
}

.bottom-cloud{
    position: absolute;
    bottom: 300px;
    left:250px;
}

.top-cloud{
    position:absolute;
    top: 40px;
    right:300px;
}

.profile{
    border-radius: 100%;
}

.table{
    border-spacing: 50px;
    position: relative;
    left: 23%;
}

.table1{
    position: relative;
    left: 35%;
}

.table2{
    position: relative;
    left: 45%;
}

hr{
    border-style: dotted none;
    border-width: 5px;
    width: 5%;
    border-bottom: none;
    border-color: #EAF6F6;
}

a:hover{
    color: #EAF6F6;
}

.copyright{
    padding: 20px 0px;
    background-color: #66BFBF;
    position: relative;
    color: white;
}